.footer {
  max-width: 194px;
  margin: auto;
  margin-top: 92px;
  padding-bottom: 24px;
}
.footer__copyright {
  max-width: 194px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 194px;
    margin-top: 88px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 194px;
    margin-top: 64px;
    padding-bottom: 24px;
  }
}
